.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  img {
    width: 500px;
  }
  h2 {
    font-size: clamp(2rem, 5vw, 5rem);
  }
  form {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  ul {
    height: 100px;
    border: 1px solid purple;
    overflow-y: scroll;
    padding: 8px 32px 0 32px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  }
}

.main-items {
  padding-top: 32px;
}

.main-terms {
  padding: 16px;
  ol {
    padding: 24px;
  }
}

.main-likes {
  ul {
    padding: 16px;
    margin-top: 16px;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(20px);
  }
  li {
    display: grid;
    grid-template-areas:
      "img text text text text"
      "img text text text text";
    grid-template-columns: 1fr repeat(4, 1fr);
    gap: 16px;
    position: relative;
    padding: 8px 0;
  }
  img {
    border-radius: 24px;
    grid-area: img;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  p {
    grid-area: text;
    align-self: center;
  }
}

.main-trade {
  display: grid;
  section {
    width: min(100%, 500px);
  }
}

.ek-card-group {
  width: min(calc(100% - 32px), 500px);
  aspect-ratio: 9/16;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  position: relative;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #fafafa4d;
  scrollbar-width: none;
  [class*="__loading"] {
    align-self: center;
    text-align: center;
  }
}

.ek-card {
  min-width: 100%;
  aspect-ratio: 9/16;
  position: relative;
  display: flex;
  scroll-snap-align: center;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-self: center;
    color: #ffffff;
    text-align: center;
  }
  [class*="__overlay"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    z-index: 1;
  }
  h2,
  button {
    position: absolute;
    bottom: 24px;
    z-index: 10;
  }
  h2 {
    left: 24px;
    color: #ffffff;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  button {
    right: 24px;
    position: absolute;
  }
}

.ek-item-card {
  width: min(calc(100% - 32px), 500px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  img {
    border-radius: 24px;
  }
}

#notification:checked ~ .site-header__notification-list {
  display: block;
}

#notification:checked ~ label {
  background-color: rgba(0, 0, 0, 0.1);
}

button,
.btn {
  width: max-content;
  height: 40px;
  padding: 0 24px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background: linear-gradient(purple, purple);
  border: 2px solid transparent;
  color: gold;
  cursor: pointer;
  transition: background 300ms ease-in-out;
  &:hover {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(purple, purple);
    transition: all 300ms ease-in-out;
  }
  &[class*="--text"] {
    color: purple;
    background-color: transparent;
    background: unset;
    &:hover {
      background-color: rgba(128, 0, 128, 0.3);
    }
  }
  &[class*="--icon"] {
    padding: unset;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: center;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    flex-wrap: unset;
    background-color: transparent;
    border-color: transparent;
    background: unset;
    cursor: pointer;
    &::after {
      min-inline-size: max-content;
      block-size: 1.5rem;
      padding-inline: 0.5rem;
      border-radius: 0.25rem;
      position: absolute;
      bottom: calc(-4px - 1.5rem);
      right: 0;
      display: none;
      align-items: center;
      content: attr(tooltip);
      background-color: var(--tooltip);
      color: var(--secondary);
      font-size: 0.875rem;
      z-index: 3;
    }
    &:hover {
      background: unset;
      background-color: rgba(0, 0, 0, 0.1);
    }
    svg {
      fill: var(--primary-icon);
    }
  }
  &[class*="--like"] {
    position: absolute;
    background-color: transparent;
    svg {
      fill: rgba(128, 0, 128, 0.9);
    }
    &:hover {
      background-color: rgba(128, 0, 128, 0.3);
    }
    &::after {
      background-color: #ffffff;
      color: #800080;
    }
  }
  &[class*="--fab"] {
    position: fixed;
    width: 96px;
    height: 96px;
    border-radius: 16px;
    bottom: calc(16px + 4rem);
    right: 24px;
    display: grid;
    place-items: center;
    background: unset;
    background-color: oklch(80% 0.2286 328.36341792345144);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    svg {
      width: 36px;
      height: 36px;
      fill: oklch(42.09% 0.2114 328.36341792345144);
    }
    &:active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
  }
}

.btn--icon:hover::after {
  display: flex;
  animation: tooltip 200ms ease, tooltip 200ms ease 1700ms reverse forwards;
}

@media (hover: none) {
  .btn--icon:hover::after {
    display: none;
  }
}

@keyframes tooltip {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.btn__badge {
  width: min(16px, max-content);
  height: 16px;
  border-radius: 50%;
  padding: 0 5px;
  position: absolute;
  background-color: var(--primary);
  color: var(--secondary);
  display: grid;
  place-items: center;
  z-index: 10;
  top: 5px;
  left: 20px;
  font-size: 0.75rem;
  font-weight: 500;
  &:empty {
    border-radius: 50%;
    top: 10px;
    right: 10px;
    width: 6px;
    height: 6px;
  }
}

input[type="text"] {
  padding: 16px;
  border-radius: 16px;
  border: none;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(20px);
  color: purple;
  caret-color: purple;
  &:focus,
  &:focus-visible {
    outline: 2px solid purple;
    border: none;
  }
}
dialog {
  width: min(calc(100% - 32px), calc(500px + 64px));
  aspect-ratio: 1/1;
  padding: 32px;
  border-radius: 32px;
  border: 0;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translateX(-50%) translateY(-50%) translateY(100%);
  transform-origin: center;
  transform-origin: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  &[open] {
    display: grid;
    grid-template-rows: auto 1fr auto;
    animation: dialog 200ms ease-in-out forwards;
  }
  h2 {
    font-size: 2rem;
  }
  footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
.dialog--add-item {
  color: black;
  form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: max-content;
    &:last-child {
      align-content: flex-end;
    }
    footer {
      width: 100%;
      align-self: flex-end;
      align-content: flex-end;
    }
  }
  input[type="text"] {
    background-color: #bababa;
    backdrop-filter: unset;
  }
}

&.closing {
  animation: dialog-close 200ms ease-in-out reverse forwards;
}

@keyframes dialog {
  0% {
    transform: translateX(-50%) translateY(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateY(0);
  }
}

.address {
  width: min(100%, 250px);
  padding: 16px;
  border-radius: 24px;
  place-self: center;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(20px);
  font-size: 1.75rem;
  button {
    float: right;
    cursor: pointer;
  }
}

#settings {
  color: #000000;
  ul {
    padding-top: 16px;
    list-style: none;
  }
}
